<mat-list>
  <mat-list-item>
    <p matLine><strong>Name</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Set</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Rarity</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>ID</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Tribe</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Courage</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Power</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Wisdom</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Speed</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Energy</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Mugic</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Elements</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Types</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Ability</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Brainwashed</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Unique</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Loyal</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Legendary</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Artist</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Gender</strong></p>
    <p>String</p>
  </mat-list-item>
</mat-list>
