<div class="main">
  <h1 class="main-header mat-display-2">Chaotic TCG API</h1>
  <p class="mat-title">A simple REST API for the Chaotic Trading Card Game.</p>
  <!--
  <button id="main-btn" routerLink="/api" mat-raised-button>Documentation</button>
  <button id="main-btn" routerLink="/about" mat-raised-button>Learn More</button>
  -->
</div>
<div class="try">
  <h1 class="main-header mat-display-1">Try it now!</h1>

  <form class="try-form">

    <mat-form-field class="try-field">
      <span matPrefix>http://chaoticgam.me/</span>
      <input type="text" matInput id="try-input" [(ngModel)]="request" name="request">
    </mat-form-field>

  </form>

  <p class="mat-caption" id="caption">
    <i>Try these,
      <a href="# " (click)="request = 'creatures/DOP'">creatures/DOP</a>,
      <a href="#" (click)="request = 'battlegear/ZOTH/56'">battlegear/ZOTH/56</a>,
      <a href="#" (click)="request = 'attacks/MI'">attacks/MI</a>
    </i>
  </p>

  <button id="submit-btn" mat-raised-button color="warn" (click)="submit()">submit</button>

  <mat-card id="results-card">
      <pre id="results-display">{{ cards.result | json }}</pre>
  </mat-card>

  <div class="cards" *ngIf="cards.result != undefined && cards.result.length != undefined">
    <img *ngFor="let card of cards.result" src="assets/{{card.set}}/{{card.id}}.png" id="card">
  </div>
  <div class="cards" *ngIf="cards.result != undefined && cards.result.length == undefined">
    <img src="assets/{{cards.result.set}}/{{cards.result.id}}.png" id="card">
  </div>

</div>
