<div class="main">
  <h1 class="main-header mat-display-2">Chaotic TCG API</h1>
  <p class="mat-title">A simple REST API for the Chaotic Trading Card Game.</p>

  <button id="main-btn" mat-raised-button>Documentation</button>
  <button id="main-btn" mat-raised-button>Learn More</button>
</div>
<div class="try">
  <h1 class="main-header mat-display-1">Try it now!</h1>

  <form class="try-form">

    <mat-form-field class="try-field">
      <span matPrefix>http://chaoticgam.me/</span>
      <input type="text" matInput id="try-input">
    </mat-form-field>

  </form>

  <p class="mat-caption" id="caption"><i>Try these, <a href="#">creatures/dop</a>, <a href="#">battlegear/ZOTH/4</a>, <a href="#">attacks/MI</a></i></p>

  <button id="submit-btn" mat-raised-button color="warn">submit</button>

  <h1 id="results" class="mat-headline">Results</h1>
  <mat-card id="results-card" style="word-wrap: break-word;">
      "_id":"5bee506020cc7932ef33bd0f","name":"Maxxor","set":"DOP","rarity":"Ultra Rare","id":15,"tribe":"OverWorld","courage":100,"power":65,"wisdom":80,"speed":50,"energy":60,"mugic":2,"elements":"Fire, Earth","types":"Hero","ability":"{{MC}}: Heal 10 damage to target Creature.","flavor":"No OverWorlder has ever seen Maxxor’s face in battle because he is always in the frontline, leading the charge!","brainwashed":"","unique":"1","loyal":"1","legendary":"","image":"0B6oyUfwoM3u1V3pQQk55TGtZdlE","thumb":"1MtcP0H--UeHjQHc7N5xmDWpF34myb2T5","splash":"0B6oyUfwoM3u1eDVDVjRiV082dk0","artist":"","tages":"","gender":"Male","exclusive":""
  </mat-card>
</div>
