<mat-list>
  <mat-list-item>
    <p matLine><strong>Name</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Set</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Rarity</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>ID</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>BP (Build Points)</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Base</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Fire</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Air</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Earth</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Water</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Ability</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Flavor</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Unique</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Exclusive</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Artist</strong></p>
    <p>String</p>
  </mat-list-item>
</mat-list>
