.content{
  padding: 1em;
}

.main{
  text-align: center;
  background-color: #4C4C4C;
  color: #fafafa;
  padding: 3em 3em .5em 3em;
}

.main-header{
  margin-bottom: .5em;
}

.code{
  white-space: pre-wrap;
  overflow-y: scroll;
}
