<mat-list>
  <mat-list-item>
    <p matLine><strong>Name</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Set</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Rarity</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>ID</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Ability</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Flavor</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Unique</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Loyal</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Legendary</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Past</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Shard</strong></p>
    <p>Number</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Exclusive</strong></p>
    <p>String</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p matLine><strong>Artist</strong></p>
    <p>String</p>
  </mat-list-item>
</mat-list>
